@mixin good(){
  border: 1px solid #2d863d;
  box-shadow: inset 0 -2px 0 0 #008600;
  background: #1bb92d;
  color: #fff;
  &:hover {
    border: 1px solid #005300;
    box-shadow: inset 0 -2px 0 0 #005300;
    background: #008600;
    color: #fff;
  }
}


@mixin bad(){
  border: 1px solid #860f0e;
  box-shadow: inset 0 -2px 0 0 #6f051f;
  background: #b92921;
  color: #fff;
  &:hover {
    border: 1px solid #53090f;
    box-shadow: inset 0 -2px 0 0 #420108;
    background: #861624;
    color: #fff;
  }
}

.button, .jsUiButton, input[type="submit"] {
  border: 1px solid #3b5c86;
  box-shadow: inset 0 -2px 0 0 #204f86;
  background: #3777ad;
  color: #fff;

  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 13pt;
  line-height: 1.5;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  touch-action: manipulation;
  text-transform: none;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-right: 5px;
  i {
    font-style: normal;
  }
  &.float {
    float: left;
  }
  &:hover {
    border: 1px solid #254053;
    box-shadow: inset 0 -2px 0 0 #1f3053;
    background: #23496c;
    color: #fff;
  }
  &.save {
    min-height: 40px;
    min-width: 40px;
    @include good();
  }
  &.warn {
    background: #d44242;
    &:hover {
      background: #a90a0a;
      text-decoration: none;
    }
  }
  &.irriversable{
    @include bad();
  }
  &.success {
    @include good();
  }
}