table {
  border-collapse: collapse;
  background-color: white;
  thead {
    tr {
      background-color: #3777ad;
      color: white;
      text-shadow: 1px 1px 0 black;
      th {
        padding: 8px 12px;
        text-shadow: 1px 1px 0 #5d5d5d;
        border: 1px solid #306696;
      }
    }

  }

  tbody {
    tr{
      td{
        height: 40px;
        border: 1px solid lightgrey;
        padding: 15px 10px;
      }
      .invis{
      display: none;
      }
    }
  }
}